

.bienvenido{
  position: absolute;
  width: 458px;
  height: 134px;
  left: 525px;
  top: 188px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  /* or 67px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;

  color: #052970;
}

.imagenDoctor {
  position: absolute;
  width: 204px;
  height: 222px;
  left: 651px;
  top: 375px;

  background: url(../public/images/doctor.jpeg);
  background-size: cover;
}

.boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;

  position: absolute;
  width: 643px;
  height: 90px;
  left: 432px;
  top: 650px;

  background: #052970;
  border-radius: 15px;
}

.boton span {
  width: 108px;
  height: 24px;

  /* WF Buttons/Button Large */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  letter-spacing: -0.01em;
  font-feature-settings: 'calt' off;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.saltarDemo {
  position: absolute;
  width: 269px;
  height: 24px;
  left: 812px;
  top: 770px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: flex-end;
  letter-spacing: -0.01em;
  font-feature-settings: 'calt' off;

  color: #000000;

}

#contenedorCentrado {
    height:100vh;
    max-width: 800px;
    margin:auto
}