.gameByCategory{
    padding:16px;
    height:100vh;
    max-width: 800px;
    margin:auto
}

.categories{
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.category{
    padding:32px 16px;
    box-shadow: 5px 5px 15px rgba(40, 138, 184, 0.5);
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
}

.category span{
    display:block;
}

.pregunta {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */

    display: flex;
    align-items: center;

    color: #052970;

}