@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 16px;

  @media (max-width: 767px) {
    padding: 10px;
  }
}

.button {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.main {
  margin: 100px;
}

.answer {
  padding: 8px 16px;
  border-radius: 4px;
  color: rgba(255, 255, 255);
  cursor: pointer;
  min-height: 100px;
  box-shadow: rgb(0 0 0 / 15%) 0px -0.25rem 0px 0px inset;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Media query para pantallas grandes */
@media (min-width: 705px) {
  .answers {
    grid-template-columns: repeat(2, 1fr);
    padding: 8px 245px;

  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 700px) {
  .answers {
    grid-template-columns: 1fr;
    padding: 8px;
  }
}

.answer span {
  word-break: break-word;
}

.answer {
  background: rgba(5, 41, 112, 0.5);
}

.is-wrong-answer {
  opacity: 0.3;
}

.answer.is-correct {
  background: rgba(38, 163, 7, 0.75);
}

.answer.is-error {
  background: rgba(225, 2, 2, 0.8);
}

.answers {
  display: grid;
  gap: 8px;
  transition: background-color 0.3s ease;
}

.answer:hover {
  background: rgba(5, 41, 112, 0.8);
}

.counter {
  background-color: #222;
  color: rgba(255, 255, 255);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
}

.answersContainer {
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
}

.counterContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}

.centeredStepper {
  margin-left: 50%;
}

.countCase {
  font-family: 'Poppins';
  font-size: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: justify;
  padding: 22px;
}

.pregunta {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  margin-left: 120px;
  color: #052970;
  padding: 22px;
  padding-top: 16px;

}

.contenedorCentrado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}