.ul {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    padding: 0;
}

.li {
    width: 100px;
    margin-top: 16px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image {
    margin: auto;
    height: 32px;
    width: 32px;
    object-fit: cover;
}

.score,
.label {
    margin: auto;
}

.statisticChartContainer {
    height: 350px;
    width: 350px;
    margin: 'auto';
    margin-left: 50px;
    margin-right: 50px;
}