.dots-mobile-stepper-container {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  
  .dots-mobile-stepper-container .MuiMobileStepper-root {
    max-width: 400px;
  }
  
  .dots-mobile-stepper-container .MuiMobileStepper-dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dots-mobile-stepper-container .MuiMobileStepper-dot {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 4px;
  }
  
  .dots-mobile-stepper-container .MuiMobileStepper-dotActive {
    background-color: rgba(0, 0, 0, 0.8);
  }
  